
body{font-family: Noto Sans, sans-serif;
	font-size: 14px;
	text-align: left ;
	background-color:white;
	list-style-position: inside;
}

table {border: 3px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 1rem;
	border-color:#114E69;
	border-radius: 5px;	  
}

h2,h3{font-family: Andale Mono, monospace;
	font-weight: normal;
	color: #0D75A3
}

p {text-indent: 50px;
	text-align: justify;
	color: Black
}

a {text-decoration: none;
  color: #0D75A3
}

footer{
	height: 80px;
	text-align: center;
	background-color: #F5F1C7;
	border-top: 10px;
	border-radius: 10px;
	padding-top: 10px;
	margin-top: 40px;
}

h1{font-family:Comic Sans MS, Comic Sans, cursive;
	font-weight: bold;
	color: #114E69

}

hr{background-color: #114E69;
	height: 5px;
	border-radius: 10px;
}

h4{font-family:DejaVu Sans Mono, monospace;
	text-align:left;
	color: black;
}

li{color: #0D75A3;
}

em{color: #0D75A3;
}
 
section{ padding: 80px 13% 70px;
}

img{margin: 0px;
}

.footer-content{
	 background-color: #C3E6F5;
	 border-radius: 10px;
	 position: absolute;
	 left:0;
	 right:0;
}
	
.footer-content ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0px;
	grid-auto-rows: minmax(100px, auto);
	height: 80px;
    list-style-type: none;
}

.footer-content li{
	display: grid;
	margin: 0px;
	color: #0D75A3;
}

.footer-content li a{
	font-size: 20px;
	color: #0D75A3;
}

.footer-content li a:hover{
	text-decoration: underline;
	color: #46697A;
	transform: translate(0px,10%);
}

.footer-content img {
	/*margin: -40px;*/
	width: 80px;
	height: 80px; 
}

.footer-content img:hover{
	transform: translate(3px,10%);
}

.footer-content h3{
	margin:0;
	font-family:Comic Sans MS, Comic Sans, cursive;
	font-size: 20px;
	color: #114E69;
}

.footer-crédits{
	
	margin-top: 50px;
	width: 400px;
	background-color: #C3E6F5;
	border-radius: 10px;
	position: relative;
  top: 0px;
	left: 0px;
	padding: 5px;
}

.footer-crédits h3{
	margin: 2px;
}

.footer-crédits h4{
	text-align: center;
	margin: 5px;
}


#simulator {
    display: grid;
	  padding-top: 100px;
    height: calc(100vw*9/16);
    grid-template-columns:11fr 21fr 106fr 95fr 40fr 74fr 96fr 96fr 78fr 18fr 96fr 63fr 50fr 12fr 24fr 37fr 69fr 23fr 69fr 29fr; 
    grid-template-rows:16fr 10fr 21fr 63fr 20fr 15fr 43fr 14fr 22fr 17fr 158fr 249fr 15fr 92fr 88fr 12fr;

}

 #titre {
    grid-column: 3/5;
    grid-row: 3/5;
	  border: 3px solid;
	  border-radius: 10px;
	  background-color: #F5F1C7;
  }
  #profil {
    grid-column: 13/16;
    grid-row: 2/4;
	  border: 3px solid;
  }
  #paramètre {
    grid-column: 16/18;
    grid-row: 2/4;
	  border: 3px solid;
  }
  #online {
    grid-column: 18/21;
    grid-row: 2/4;
	  border: 3px solid;
  }
  #séparation-gauche {
    grid-column: 1/6;
    grid-row: 7/9;
	  border: 3px solid;
  }
  #initiation {
    grid-column: 6/8;
    grid-row: 7/9;
	  border: 3px solid;
  }
  #solo {
    grid-column: 8/10;
    grid-row: 7/9;
  	border: 3px solid;
  }
  #multi {
    grid-column: 10/14;
    grid-row: 7/9;
	  border: 3px solid;
  }
  #libre {
    grid-column: 14/17;
    grid-row: 7/9;
  	border: 3px solid;
  }
  #séparation-droite {
    grid-column: 17/21;
    grid-row: 7/9;
  	border: 3px solid;
  }
  #ecran {
    width: 100%;
    height: 100%;
    grid-column: 4/15;
    grid-row: 10/13;
  	border-radius: 10px;
  }
  #météo {
    grid-column: 16/19;
    grid-row: 12;
	  border: 3px solid;
  	border-radius: 10px;
  }
  #petit-cadran {
    grid-column: 4/7;
    grid-row: 13/17;
  	border: 3px solid;
  }
 #cadran-1 {
    grid-column: 7;
    grid-row: 13/15;
	  border: 3px solid;
  }
  #cadran-2 {
    grid-column: 7;
    grid-row: 15/17;
	  border: 3px solid;
  }
  #cadran-3 {
    grid-column: 8;
    grid-row: 13/15;
    border: 3px solid;
  }
  #cadran-4 {
    grid-column: 8;
    grid-row: 15/17;
  	border: 3px solid;
  }
  #cadran-5 {
    grid-column: 9/11;
    grid-row: 13/15;
	  border: 3px solid;
  }
  #cadran-6 {
    grid-column: 9/11;
    grid-row: 15/17;
  	border: 3px solid;
  }
  #cadran-7 {
    grid-column: 11;
    grid-row: 13/15;
    border: 3px solid;
  }
  #cadran-8 {
    grid-column: 11;
    grid-row: 15/17;
    border: 3px solid;
  }
   #gas {
    grid-column: 12;
    grid-row: 13/17;
    border: 3px solid;
  }
   #mixture {
    grid-column: 13/15;
    grid-row: 13/17;
    border: 3px solid;
  }
  
  #circle {
    width: 70px;
    height: 70px;
    background: rgb(182, 182, 182);
    border: 10px solid;
    border-color: black;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px;
  }

  #rectangle{
    width: 50px;
    height: 150px;
    background: rgb(182, 182, 182);
    margin: auto;
    /*margin-top: 25px;*/
  }

  #square {
    width: 50px;
    height: 50px;
    background: black;
    margin-left: 15px;
  }

  
 